# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.sqlite3

# Environment variables
.env

# macOS
.DS_Store
__MACOSX/

# VS Code
.vscode/

# Logs
*.log

# Coverage / tests
.coverage
htmlcov/
.pytest_cache/